---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  {% for post in site.posts limit:1 %}
      Most recent article:
      <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
      <h2><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
      <p>{{ post.content | strip_html | truncatewords:50}}</p>
      <a class="read-more" href="{{ post.url }}">Read more <i class="fa fa-long-arrow-right"></i></a>
  {% endfor %}
<hr>
  <h2>Older posts</h2>
  <ul class="post-list">
    {% for post in site.posts limit:8 offset:1 %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>
  <a href="/blog.html">More...</a>
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
