<footer class="site-footer">
<tt class="eop">/* --- End of page --- */</tt>

<tt>LegoStormtroopr 
<a href="https://github.com/legostormtroopr"><i class="fa fa-github"></i></a> <a href="https://twitter.com/legostormtroopr"><i class="fa fa-twitter"></i></a> <a href="https://au.linkedin.com/in/legostormtroopr"><i class="fa fa-linkedin"></i></a>
</tt>

<tt>
Drivel about data and musings about metadata<br>
Writer of code // Modeller of data // Owner of bunny <a href="/bunny/">&#128048;</a>
</tt>
</div>

</footer>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-17130509-1', 'auto');
  ga('send', 'pageview');

</script>