<footer class="site-footer">
<pre class="eop">/* --- End of page --- */</pre>

<pre>LegoStormtroopr 
<a href="https://github.com/legostormtroopr"><i class="fa fa-github"></i></a> <a href="https://twitter.com/legostormtroopr"><i class="fa fa-twitter"></i></a> <a href="https://au.linkedin.com/in/legostormtroopr"><i class="fa fa-linkedin"></i></a>
</pre>

<pre>
Drivel about data and musings about metadata.
Writer of code // Modeller of data // Owner of bunny <a href="/bunny/">&#128048;</a>
</pre>
</div>

</footer>
